<div id="video">
    <div id="video-mask"></div>
    <video id="video-source" muted="true" showcontrols="false" autoplay="true" loop="true"></video>
</div>

<div id="screen">
    <div id="screen-top-left"></div>
    <div id="screen-top-right"></div>
    
    <div id="supporter-counter-container">
        <div id="supporter-counter">
            <div id="supporter-counter-progress-bar"></div>
            <div id="supporter-counter-heading">Supporter Goal:</div>
            <div id="supporter-counter-text"><span data-current-counter></span>/<span data-total-counter></span></div>
        </div>
    </div>
    
    <div id="screen-title">
        <span></span>
    </div>
    
    <div id="screen-countdown" data-countdown-visible="false">
        <div id="screen-countdown-counter"><span data-countdown-minute>00</span>:<span data-countdown-second>00</span></div>
    </div>
    
    <div id="screen-chairhinki" data-quotes-visible="false">
        <ul></ul>
    </div>
    
    <div id="screen-footer">
        <ul></ul>
    </div>
    
    <div id="screen-social-cta">
        <div class="social-cta-line"></div>
        <span></span>
        <div class="social-cta-line"></div>
    </div>
    
    <div id="screen-social">
        <ul></ul>
    </div>
</div>