
            <div id="cover">
                <div id="coverLeft">
                    <div id="coverLeft-shadow"></div>
                    
                    <div id="coverLeft-top">
                        <div id="coverLeft-top-shiner">
                            <img src="/img/shiner.png" class="hide">
                        </div>
                        
                        <div id="coverLeft-top-triangle"></div>
                        
                        <div id="coverLeft-top--header">
                            <span id="coverLeft-top--header-span"></span>
                        </div>
                        
                        <div id="coverLeft-social-header">
                            <span id="coverLeft-social-header-span"></span>
                        </div>
                        
                        <div id="coverLeft-social">
                            <ul></ul>
                        </div>
                        
                        <div id="coverLeft-gameart">
                            <ul></ul>
                        </div>
                    </div>
                </div>
                
                <!-- easter egg -->
                <div id="chairhinki">
                    <img src="/img/chairhinki.png" id="chairhinki-hero">
                    <div id="chairhinki-heading">S#!T Chairhinki says</div>
                    <div id="chairhinki-quote-holder">
                        <ul></ul>
                    </div>
                </div>
                
                <div id="coverBottom">
                    <div id="coverBottom-container">
                        <ul></ul>
                    </div>
                    
                    <div id="coverBottom-mask"></div>
                </div>
            </div>
            
            <div id="video">
                <video id="video-source" autoplay="true" loop="true" showcontrols="false"></video>
            </div>
            
            <div id="settings">
                <div id="settings-modal"></div>
            </div>
            
            <div id="settings-trigger"></div>