<div id="info-bar" data-placement="0">
    <!-- new animation -->
    <div id="info-bar-layout-white"><span></span></div>
    <div id="info-bar-layout-shade"><span></span></div>
    <div id="info-bar-layout-bg"><span></span></div>

    <!-- information -->
    <div id="info-bar-left">
        <div id="info-bar-current">
            <div id="info-bar-current-header"><span>Game:</span></div>
            <div id="info-bar-current-game"><span data-game-name></span></div>
            <div id="info-bar-current-platform"><span class="bracket">(</span><span data-platform></span><span class="bracket">)</span></div>
        </div>
    </div>
    
    <div id="info-bar-right">
        <ul id="info-bar-social"></ul>
    </div>
</div>

<div id="stream-acknowledgements">
    <div id="stream-acknowledge-left">
        <div id="stream-acknowledge-left-white"><span></span></div>
        <div id="stream-acknowledge-left-bg"><span></span></div>
        <div id="stream-acknowledge-left-title"><span><i class="fas fa-star" id="stream-acknowledge-left-icon"> </i> Stars: </span></div>
        <!--div id="stream-acknowledge-left-sample"><span class="name">Stephen Falepau</span> <span class="count">40000</span></div-->
    </div>
    <div id="stream-acknowledge-right">
        <div id="stream-acknowledge-right-white"><span></span></div>
        <div id="stream-acknowledge-right-bg"><span></span></div>
        <div id="stream-acknowledge-right-title"><span><i class="fas fa-shield-alt" id="stream-acknowledge-right-icon"> </i> Sub:</span></div>
        <!--div id="stream-acknowledge-right-sample">Stephen Falepau</div-->
    </div>
</div>

<div id="notice-block"></div>

<div id="supporter-goal-container">
    <div id="supporter-goal">
        <div id="supporter-goal-progress-bar"></div>
        <div id="supporter-goal-header">Supporter Goal:</div>
        <div id="supporter-goal-info"><span data-current-supporter-count></span>/<span data-total-supporter-goal></span></div>
    </div>
</div>

<div id="settings">
    <div id="settings-modal"></div>
</div>

<div id="settings-trigger"></div>