    <div id="info-bar">
        <div id="info-bar-left">
            <div id="info-bar-current-game-label">Current Game:</div>
            <div id="info-bar-current-game"></div>

            <div id="info-bar-left-light-container">
                <div id="info-bar-left-light" class="queued"></div>
            </div>
        </div>

        <div id="info-bar-right">
            <ul id="info-bar-social"></ul>
        </div>
    </div>

    <div id="notice-block"></div>

    <div id="camera-border">
        <div id="camera-border-top"><div class="line queued"></div></div>
        <div id="camera-border-right"><div class="line queued"></div></div>
        <div id="camera-border-bottom"><div class="line queued"></div></div>
        <div id="camera-border-left"><div class="line queued"></div></div>
    </div>

    <div id="settings">
        <div id="settings-modal"></div>
    </div>

    <div id="settings-trigger"></div>