    <div id="info-bar">
        <div id="info-bar-left">
            <div id="info-bar-current-game-label">Current Game:</div>
            <div id="info-bar-current-game"></div>
            <div id="info-bar-current-platform"></div>

            <div id="info-bar-left-light-container">
                <div id="info-bar-left-light" class="queued"></div>
            </div>
        </div>

        <div id="info-bar-right">
            <ul id="info-bar-social"></ul>
        </div>
    </div>

    <div id="stream-acknowledgements">
        <div id="stream-acknowledge-left">
            <div id="stream-acknowledge-left-white"><span></span></div>
            <div id="stream-acknowledge-left-bg"><span></span></div>
            <div id="stream-acknowledge-left-title"><span><i class="fas fa-star"> </i> Recent Stars</span></div>
        </div>
        <div id="stream-acknowledge-right">
            <div id="stream-acknowledge-right-white"><span></span></div>
            <div id="stream-acknowledge-right-bg"><span></span></div>
            <div id="stream-acknowledge-right-title"><span><i class="fas fa-shield-alt"> </i> Recent Supporter</span></div>
        </div>
    </div>

    <div id="notice-block"></div>

    <div id="supporter-counter-container">
        <div id="supporter-counter">
            <div id="supporter-counter-progress-bar"></div>
            <div id="supporter-counter-heading">Supporter Goal:</div>
            <div id="supporter-counter-text"><span data-current-counter></span>/<span data-total-counter></span></div>
        </div>
    </div>
    
    <div id="supporter-settings">
        <div id="supporter-settings-modal"></div>
    </div>

    <div id="settings">
        <div id="settings-modal"></div>
    </div>

    <div id="settings-trigger"></div>