                    <div class="settings-modal-close"><i class="fas fa-times"></i></div>

                    <div id="settings-content">
                        <div class="settings-header">Overlay Settings</div>
                        <div class="settings-content--row">
                            <div class="settings-content--col-left">
                                <span>Target File:</span>
                            </div>
                            <div class="settings-content--col-right">
                                <span id="target"></span>
                            </div>
                        </div>
                        
                        <div class="settings-content--row">
                            <div class="settings-content--col-left">
                                <span>Theme Profile:</span>
                            </div>
                            <div class="settings-content--col-right">
                                <select id="settings-themes" name="themes">
                                    <option value="default">Select a theme</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="settings-content--row">
                            <div id="settings-colour-bar">
                                <div id="settings-colour-bar-1">Info Bar</div>
                                <div id="settings-colour-bar-2">Social Odd</div>
                                <div id="settings-colour-bar-3">Social Even</div>
                                <!--div id="settings-colour-bar-4">Cam Border</div-->
                            </div>
                        </div>
                        
                        <div class="settings-content--row">
                            <div class="settings-content--col-left">
                                <span>Social Preset:</span>
                            </div>
                            <div class="settings-content--col-right">
                                <select id="settings-socialpreset" name="socials">
                                    <option>Select a social preset</option>
                                </select>
                            </div>
                        </div>

                        <div class="settings-content--row">
                            <div class="settings-content--col-left">
                                <span>Game Name:</span>
                            </div>
                            <div class="settings-content--col-right">
                                <input id="settings-game" type="text" name="game" class="form-control">
                            </div>
                        </div>
                        
                        <div class="settings-content--row">
                            <div class="settings-content--col-left">
                                <span>Info/socialbar:</span>
                            </div>
                            <div class="settings-content--col-right">
                                <select id="settings-placement">
                                    <option value="0">Info bar shows at top</option>
                                    <option value="1">Info bar shows at bottom</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="settings-content--row">
                            <div class="settings-content--col-left">
                                <span>Game Platform:</span>
                            </div>
                            <div class="settings-content--col-right">
                                <select id="settings-platform">
                                    <option value="0">Select Platform/None</option>
                                </select>
                            </div>
                        </div>
                        
                        <!--div class="settings-content--row">
                            <div class="settings-content--col-left">
                                <span>Show camera border:</span>
                            </div>
                            <div class="settings-content--col-right">
                                <select id="settings-camborder" name="placement">
                                    <option>Select</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div-->
                        
                        <div id="settings-notice-header">Notice/CTA Graphic Settings</div>
                        
                        <div class="settings-content--row">
                            <div class="settings-content--col-left">
                                <span>Select Notice:</span>
                            </div>
                            <div class="settings-content--col-right">
                                <select id="settings-notices" name="notice">
                                    <option>(none)</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="settings-content--row">
                            <div class="alert-block" data-field-id="notices">
                                <span>
                                    The notice/cta you've selected will override the delay and duration settings you currently have.
                                </span>
                            </div>
                        </div>
                        
                        <div id="notice-form">
                            <div class="settings-content--row">
                                <div class="settings-content--col-left">
                                    <span>Delay:</span>
                                </div>
                                <div class="settings-content--col-right">
                                    <input id="settings-delay" min="1" type="number" name="delay" class="form-control">
                                    <span>minutes</span>
                                </div>
                            </div>

                            <div class="settings-content--row">
                                <div class="settings-content--col-left">
                                    <span>Duration:</span>
                                </div>
                                <div class="settings-content--col-right">
                                    <input id="settings-duration" min="5" type="number" name="duration" class="form-control">
                                    <span>seconds</span>
                                </div>
                            </div>
                        </div>
                    
                        <div class="settings-content--row">
                            <button class="btn" id="settings-save">Save changes</button>
                            <button class="btn" id="settings-refresh">Restart Overlay</button>
                            <button class="btn danger right" id="settings-reset">Reset</button>
                        </div>
                    </div>
                    
                    <div id="settings-reset-content" class="hide">
                        <div class="settings-header">Reset Overlay Settings?</div>

                        <div class="settings-reset-body">
                            Are you sure you want to reset overlay settings for the file <span data-file-name></span>?
                            They will revert back to what they were before your initial changes.
                        </div>

                        <div class="settings-reset-buttons">
                            <button class="btn danger" id="settings-reset-confirmed">Yes, reset to default</button>
                            <button class="btn" id="settings-reset-backout">No, keep as is</button>
                        </div>
                    </div>