<div id="sidebar">
    <div id="sidebar-white" class="sidebar-item"></div>
    <div id="sidebar-bg" class="sidebar-item"></div>
    
    <div id="leading-text">
        <div id="leading-text-content-container">
            <div id="leading-text-content">
                <div id="leading-text-content-reset">
                    <span data-line-one-copy></span>
                </div>
                <div id="leading-text-white"></div>
                <div id="leading-text-bg"></div>
            </div>
        </div>
    </div>
    
    <div id="secondary-text">
        <div id="secondary-text-content-container">
            <div id="secondary-text-content">
                <div id="secondary-text-content-reset">
                    <span data-line-two-copy></span>
                </div>
                <div id="secondary-text-white"></div>
                <div id="secondary-text-bg"></div>
            </div>
        </div>
    </div>
    
    <div id="social">
        <div class="social-item">
            <div class="social-item-left">
                <span class="primary-colour-text"><i class="fab fa-twitter"></i></span>
            </div>
            
            <div class="social-item-right">
                <div class="social-item-right-leading">
                    <span>Tweet me</span>
                </div>
                
                <div class="social-item-right-secondary">
                    <span>@Sohinki</span>
                </div>
            </div>
        </div>
        <div class="social-item">
            <div class="social-item-left">
                <span class="primary-colour-text"><i class="fab fa-instagram"></i></span>
            </div>
            
            <div class="social-item-right">
                <div class="social-item-right-leading">
                    <span>Find me on IG</span>
                </div>
                
                <div class="social-item-right-secondary">
                    <span>@Sohinki</span>
                </div>
            </div>
        </div>
        <div class="social-item">
            <div class="social-item-left">
                <span class="primary-colour-text"><i class="fab fa-youtube"></i></span>
            </div>
            
            <div class="social-item-right">
                <div class="social-item-right-leading">
                    <span>Watch more on YouTube</span>
                </div>
                
                <div class="social-item-right-secondary">
                    <span>youtube.com/Sohinki</span>
                </div>
            </div>
        </div>
        <div class="social-item">
            <div class="social-item-left">
                <span class="primary-colour-text"><i class="fab fa-discord"></i></span>
            </div>
            
            <div class="social-item-right">
                <div class="social-item-right-leading">
                    <span>Join the Community Discord</span>
                </div>
                
                <div class="social-item-right-secondary">
                    <span>discord.gg/sohinki</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="video">
    <video id="video-source" autoplay="true" loop="true" showcontrols="false"></video>
</div>

<div id="settings">
    <div id="settings-modal"></div>
</div>

<div id="settings-trigger"></div>