<div id="sidebar">
    <div id="sidebar-white" class="sidebar-item"></div>
    <div id="sidebar-bg" class="sidebar-item"></div>
    
    <div id="leading-text">
        <div id="leading-text-content-container">
            <div id="leading-text-content">
                <span data-leading>I'll be right back</span>
            </div>
        </div>
    </div>
</div>

<div id="video">
    <video id="video-source" autoplay="true" loop="true" showcontrols="false"></video>
</div>

<div id="settings">
    <div id="settings-modal"></div>
</div>

<div id="settings-trigger"></div>