<div id="sidebar">
    <div id="sidebar-white" class="sidebar-item"></div>
    <div id="sidebar-bg" class="sidebar-item"></div>
    
    <div id="leading-text">
        <div id="leading-text-content-container">
            <div id="leading-text-content">
                <div id="leading-text-content-reset">
                    <span data-line-one-copy></span>
                </div>
                <div id="leading-text-white"></div>
                <div id="leading-text-bg"></div>
            </div>
        </div>
    </div>
    
    <div id="secondary-text">
        <div id="secondary-text-content-container">
            <div id="secondary-text-content">
                <div id="secondary-text-content-reset">
                    <span data-line-two-copy></span>
                </div>
                <div id="secondary-text-white"></div>
                <div id="secondary-text-bg"></div>
            </div>
        </div>
    </div>
</div>

<div id="video">
    <video id="video-source" autoplay="true" loop="true" showcontrols="false"></video>
</div>

<div id="settings">
    <div id="settings-modal"></div>
</div>

<div id="settings-trigger"></div>